.profile {
  margin: 0 auto 53px;
  display: grid;
  gap: 30px;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
}
@media screen and (max-width: 702px) {
  .profile {
    margin: 0 auto 36px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 320px) {
  .profile {
    max-width: 282px;
  }
}
